In [39]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder

In [33]:
# question 1: read adult data.txt as train, adult test.txt as test, rename their headers to ['age', 
# 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship',
# 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'wage_class']
column_name = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 
               'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 
               'hours_per_week', 'native_country', 'wage_class']
df_train = pd.read_csv('adult+data.txt')
df_test = pd.read_csv('adult+test.txt')
df_train.columns = column_name
df_test.columns = column_name
df_train.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [14]:
# question 2: replace ‘ ?’ with nan and drop na
df_train = df_train.replace(' ?', np.nan)
df_test = df_test.replace(' ?', np.nan)
df_train_nona = df_train.dropna()
df_test_nona = df_test.dropna()

In [42]:
# question 3: replace test wage_class all of the ‘<=50K.’ 
# with ‘<=50K’ and the same for ‘>50K.’ with ‘>50K’, same as train
df_test_rep = df_test_nona.replace([' >50K.', ' <=50K.'], ['>50K', '<=50K'])
df_train_rep = df_train_nona.replace([' >50K', ' <=50K'], ['>50K', '<=50K'])

In [50]:
# question 4: apply Ordinal Encoding to Categoricals for both train and test
df_train_object = df_train_rep.select_dtypes(include = 'object')
train_enc = OrdinalEncoder()
train_enc.fit(df_train_rep)
train_fit = train_enc.transform(df_train_rep)
df_train_fit = pd.DataFrame(train_fit, columns = column_name)
test_enc = OrdinalEncoder()
test_enc.fit(df_test_rep)
test_fit = test_enc.transform(df_test_rep)
df_test_fit = pd.DataFrame(test_fit, columns = column_name)

In [25]:
# question 5: build xgboost: wage_class is the response variable, and others are predictors
# ues bayesian to find the best combination of tunning parameters:
# 'max_depth': (3,7) 'min_child_weight': (1,5), 'learning_rate': (0.01, 0.1), 'subsample': (0.7,0.9)
# 'colsample_bytree': (0.7,0.9), 'n_estimators': (1000, 2000), ' 'gamma': (0.01,1.)

In [31]:
# question 6: use xgb.cv to find the early stopping rounds based on error

In [36]:
# question 7: plot feature importance

In [41]:
#question 8: analyze auc score on Test Data,